.Main{
    min-height: 100vh;
    background-color: $camel;
    padding: 5px 10%;

    .container{

        p{
            float: left;
            width: 48%;
            height: 475px;
            color: $beige;
            font-size: $small-font;
        }

        .image{
            float: right;
            width: 48%;
            height: 475px;
            position: relative;

            img{
                position: absolute;
            }

            .red-palette{
                left: 70px;
                top: 80%;

            }

            .beige-palette{
                left: 48%;
                top: 54%;
            }

            .profile{
                top: 23%;
            }

        }
    }
}