.Main{
    min-height: 100vh;
    background-color: $camel;
    padding: 5px 10%;

    .container{

        text-align: center;
        display: table;
        height: 80vh;

        p{
            // float: left;
            width: 48%;
            color: $beige;
            font-size: $small-font;
            display: inline-block;
            text-align: left;
            vertical-align: middle;
            display: table-cell;
        }

        .image{
            // float: right;
            width: 48%;
            display: inline-block;
            position: relative;
            vertical-align: middle;
            display: table-cell;

            img{
                position: absolute;
                // vertical-align: middle;
                // display: table-cell;
                // display: inline-block;
                
            }

            .red-palette{
                right: 130px;
                top: 55%;
                width: 220px;

            }

            .beige-palette{
                right: -20px;
                top: 32%;
                width: 230px;
            }

            .profile{
                top: 5%;
                right: 80px;
                width: 370px;
            }

        }
    }
}