.promises{
    min-height: 80vh;
    background-color: $beige;
    padding: 5px 10%;
    padding: 30px;
    text-align: center;

    p{
        color: $brown;
        font-size: $medium-font;
        margin: 0 auto 20vh auto;
    }

    ul{

        li{

            &:hover{
                cursor: pointer;

            }

            i{
                color: $brown;
            }

                h3{
                    color: $brown;
                }
        }
    }
}