.promises{
    min-height: 70vh;
    background-color: $beige;
    padding: 5px 10%;
    padding: 30px;

    ul{

        li{

            img{

                h3{

                }
            }
        }
    }
}