.promises{
    min-height: 60vh;
    background-color: $beige;
    padding: 5px 10%;
    padding: 30px;
    text-align: center;

    p{
        color: $brown;
        font-size: $small-font;
    }

    ul{

        li{

            img{

                h3{

                }
            }
        }
    }
}