.skills{
    min-height: 100vh;
    background-color: $beige;
    padding: 5px 10%;
    text-align: center;
    
    .skill-container{
        width: 70%;
        margin: 50px auto;
        text-align: left;
        
        .progress-container{
            height: 70px;
            .name{
                color: $brown;
                
            }
            .value{
                background-color: $beige;
                border-radius: 9999px;
                display: flex;
                align-items: center;
                height: 30px;
                

                .value-bar{
                    height: 15px;
                    justify-content: center;
                    background-color: #fff;
                    color: #fff;
                    border-radius: 9999px;
                    font-size: 10px;
                    transition: 2s;
                }


            }
            .progress{

            }
        }
    }
}