.section-title{
    text-align: center;
    height: 120px;

    h1{
        color: $brown;
        font-size: $medium-font;
        margin-top: 20px;
        display: inline-block;
        position: relative;
        margin-bottom: 1em;
    }

    &:before{
        content: '';
        text-align: center;
        background-color: $red;
        width: 60px;
        height: 3px;
        border-radius: 2px;
        transform: translateX(-50%);
        position: absolute;
        left: 50%;
        bottom: -150px;
        display: inline-block;
    }

}