/* .App {
  text-align: center;
} */

.App-logo {
  height: 50vmin;
  color: black;
  filter: hue-rotate(165deg) saturate(2000%) grayscale(50%);
  margin-right: 40%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #EEE6DE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Greeting{
  font-family:'Times New Roman', Times, serif;
  color: #5A494C;
  font-size: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
